<h2>Administracija</h2>

<form (ngSubmit)="startImport()">
    <table>
        <tr>
            <td><label for="source">Izvor</label></td>
            <td><select id="source" name="source" [(ngModel)]="source"
                    (change)="sourceSelected($event.target.value)">
                    <option value="">----------------</option>
                    <option *ngFor="let s of sources" [value]="s">
                        {{s}}
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <br />
    <button type="submit">Sproži uvoz</button>

    <br />
    Stanje:
    <div>
        <textarea rows="30" cols="100">{{importLog | json}}</textarea>
    </div>
</form>